---
admin_user: SERVER_ADMIN_USER
iptables:
  ports:
  - 443
  - 80
  - 8080
  - 554
  - 1935
flussonic:
  vod: false
  port8080: true
  ports:
    http: 80
    rtmp: 1935
    rtsp: 554
  key: "FLUSSONIC_LICENSE_LONG_KEY"
  edit_auth: "flussonic letmein!"
  view_auth: "user letmein!"
  streams:
    live:
      # auth: http://...
      # on_publish: http://...
      publish_enabled: true
      # password: some
      # max_bitrate: 1000
      # no_prepush: true
      # thumbnails: true
      # domains: "*.some.com"
      # add_audio_only: true
      # dvr_offline: /storage 5d 90%
      dvr: "/storage 90% 5d"
